# {{ ansible_managed }}

# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

log_level = "DEBUG"
data_dir = "/opt/nomad/{{inventory_hostname}}"
bind_addr = "{{nomad_bind_addr}}"

server {
  enabled = {{nomad_server_enable_disable}}
  bootstrap_expect = 1
}

client {
  enabled = true
  servers = ["{{server_ip}}:{{nomad_server_port}}"]
  network_interface = "eth1"
  options {
    "docker.volumes.enabled" = "true"
  }
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}