#!/bin/bash
# {{ ansible_managed }}

data_dir = "/opt/consul"

bind_addr = "{{bind_addr}}"

client_addr = "0.0.0.0"
ui = true
server = {{server_enable_disable}}
{% if server_enable_disable != 'true' %}
retry_join = ["{{server_ip}}"]
{% else %}
bootstrap_expect = {{amount_bootstrap}}
{% endif %}
#node_name = "{{node_name}}"
