#!/bin/bash
# {{ ansible_managed }}

data_dir = "/opt/consul"
client_addr = "0.0.0.0"
ui = true
server = {{server_enable_disable}}
bootstrap_expect = {{amount_bootstrap}}
retry_join = ["{{server_ip}}"]
bind_addr = "{{bind_addr}}"
node_name = "{{node_name}}"
