#!/bin/bash
# {{ ansible_managed }}

data_dir = "/opt/nomad/data"
bind_addr = "{{ bind_addr }}"

server {
  enabled = {{server_enable_disable}}
  bootstrap_expect = 1
}


client {
  enabled = true
  servers = [" {{server_ip}}"]
}
