job "{{job_name}}" {
	datacenters = ["dc1"] 
	type = "service"

	group "{{job_name}}" {
		count = 1
		network {
			port "{{job_name}}_port" {
			to = {{job_port}}
			static = {{job_port}}
			}
		}
	  task "{{job_name}}" {
		driver = "docker"
		config {
			image = "{{job_image}}"
			ports = ["{{job_name}}_port"]
			logging {
				type = "journald"
				config {
					tag = "{{job_name}}"
				}
			}
		
{% if prometheus == {{job_name}} %}
		volumes = [
          "/opt/prometheus/:/etc/prometheus/"
        ]
        args = [
          "--config.file=/etc/prometheus/prometheus.yml",
          "--storage.tsdb.path=/prometheus",
          "--web.console.libraries=/usr/share/prometheus/console_libraries",
          "--web.console.templates=/usr/share/prometheus/consoles",
          "--web.enable-admin-api"
        ]
		}
		service {
			name = "{{job_name}}"			
		}

{% else %}
		}
		service {
			name = "{{job_name}}"
			tags = ["metrics"]		
		}

{% endif %}
	  }
	}
}